* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 98vh;
	background-color: #b3b4b5;
	font-family: "Gloria Hallelujah", cursive;
	font-weight: 400;
	font-style: normal;
}

.game-container {
	min-width: 370px;
	width: 25%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
}

.canvas {
	width: 100%;
	height: 100%;
	background-image: url("../public/canvasbackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.menu {
	display: flex;
  width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%, 0);
}

.restart-menu {
	display: none;
}

.btn{
  width: 100px;
  height: 30px;
  border: none;
  background-color: limegreen;
  border-radius: 10px;
  font-family: "Gloria Hallelujah", cursive;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.info{
  font-size: 24px;
}